<template>
  <v-container
    fluid
    class="overflow-hidden pa-0 info"
    fill-height
  >
    <v-row justify="center">
      <v-col
        class="hidden-sm-and-down"
        md="6"
      >
        <v-img
          v-if="escuela"
          :src="escuela == 2 ? require('@/assets/welcome2.png') : require('@/assets/welcome.png') "
          height="100vh"
        />
      </v-col>

      <v-col
        cols="12"
        md="6"
        class="white--text px-5 pt-5 mb-6"
      >
        <base-bubble-1 />

        <base-heading class="mb-5">
          ¡Recomienda y GANA!
        </base-heading>

        <v-sheet
          color="transparent"
        >
          <v-text-field
            color="info"
            label="Ingresa tu nombre completo"
            solo
            flat
            v-model="nombre"
          />

          <v-btn color="secondary" rounded @click="enviarCarta()">Imprimir hoja de recomendación</v-btn>

        </v-sheet>
      </v-col>
    </v-row>

    <v-dialog
      v-model="dialog"
      persistent
      max-width="400"
    >
      <v-card>
        <v-card-title class="text-h5">
          FOLIO GENERADO {{ codigo }}
        </v-card-title>
        <v-card-text>
          <p>
            <br/>
            <br/>
            <span class="black--text text-subtitle-1"><b>Nombre: {{ nombre }}</b></span>
            <br/>
          </p>

          <p>
            <label for="nombre" class="colocar_nombre">Recomendado por:</label>
            <br/>
            <b>{{ matricula }} 
            <br/>{{ nombre_alumno }}</b>
          </p>

          <p>
            <h3 class="red--text">** Presenta este documento impreso o muestra una captura de pantalla en sucursal para hacer valida tu promoción **</h3>
          </p>

        </v-card-text>
        <v-card-actions>
          <v-btn
            color="red"
            small
            rounded
            dark
            @click="dialog = false, nombre = '', codigo = ''"
          >
            Cerrar
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="blue"
            small
            rounded
            dark
            @click="imprimirElemento( codigo )"
          >
            Imprimir
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>

  </v-container>
</template>

<script>
  // Componentes
  import Alerta          from '@/components/alertas/Alerta.vue'
  import carga           from '@/components/alertas/carga.vue';

  import validarErrores  from '@/mixins/validarErrores'

  const base64 = require('base-64');

  export default {
    name: 'Home',

    components:{
      Alerta,
      carga,
    },

    mixins: [ validarErrores ],

    data: () => ({
      // Alertas
      parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      respuestaAlerta:false,
      loader: true,
      cargar: false,

      escuela:null,
      id_alumno:0,
      nombre:'',

      dialog: false,
      codigo:''
      
    }),


    created( ) {
      if( this.$route.params.escuela && this.$route.params.id_alumno){
        this.escuela          = base64.decode(this.$route.params.escuela);
        this.id_alumno        = base64.decode(this.$route.params.id_alumno);
        this.nombre_alumno    = base64.decode(this.$route.params.nombre_alumno);
        this.matricula        = base64.decode(this.$route.params.matricula);
      }
    },

    methods:{

      enviarCarta( ){
        const payload = {
          escuela           : this.escuela,
          id_alumno         : this.id_alumno,
          nombre_recomendado: this.nombre
        }

        this.cargar = true
        
        this.$http.post('recomienda.add', payload).then(response=>{
          this.cargar = false
          this.codigo = response.body.codigo 
          this.dialog = true
          this.validarSuccess('Registrado correctamente')
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })

      },

      imprimirElemento( codigo ){
        var elemento = document.querySelector("#imprimible");
        var ventana = window.open('', 'PRINT', 'height=400,width=600');
        ventana.document.write('<html><head><title>' + document.title + '</title>');
        ventana.document.write(`<style>
          body,html {
            height:100%;
            margin:0;
            font-family:lato;
          }
          .contact_form{  
            width: 460px; 
            height: auto;
            margin: 80px auto;
            border-radius: 10px;  
            padding-top: 30px;
            padding-bottom: 20px;  
            background-color: #fbfbfb; 
            padding-left: 30px; 
          }


          input{
            background-color: #fbfbfb; 
            width: 408px; 
            height: 40px; 
            border-radius: 5px;  
            border-style: solid; 
            border-width: 1px; 
            border-color: #ab4493; 
            margin-top: 10px;  
            padding-left: 10px;
            margin-bottom: 20px; 
          }


          textarea{
            background-color: #fbfbfb; 
            width: 405px; 
            height: 150px; 
            border-radius: 5px;  
            border-style: solid; 
            border-width: 1px; 
            border-color: #ab4493; 
            margin-top: 10px;  
            padding-left: 10px;
            margin-bottom: 20px; 
            padding-top: 15px; 
          }


          label{
            display: block; 
            float: center;  
          }


          button{
            height: 45px; 
            padding-left: 5px;
            padding-right: 5px;   
            margin-bottom: 20px; 
            margin-top: 10px;   
            text-transform: uppercase;
            background-color: #ab4493; 
            border-color: #ab4493; 
            border-style: solid; 
            border-radius: 10px;  
            width: 420px;   
            cursor: pointer;
          }


          button p{
            color: #fff; 
          }


          span{
            color: #ab4493; 
          }


          .aviso{
            font-size: 13px;  
            color: #0e0e0e;  
          }


          h1{
            font-size: 39px;  
            text-align: letf; 
            padding-bottom: 20px; 
            color: #ab4493;
          }


          h3{
            font-size: 16px; 
            padding-bottom: 30px;
            color: #0e0e0e;   
          }


          p{
            font-size: 14px; 
            color: #0e0e0e; 
          }


          ::-webkit-input-placeholder {
           color: #a8a8a8;
          }


          ::-webkit-textarea-placeholder {
           color: #a8a8a8;
          }


          .formulario input:focus{
            outline:0;
            border: 1px solid #97d848;
          }


          .formulario textarea:focus{
            outline:0;
            border: 1px solid #97d848;
          }
          </style>
        `); //Aquí agregué la hoja de estilos
        ventana.document.write('</head><body >');
        ventana.document.write(`
          <div class="contact_form">
            <div class="formulario">      
              <h1>Recomendación</h1>
              <h3>Presenta este documento impreso en sucursal para hacer valida tu promoción</h3>
              <form action="submeter-formulario.php" method="post">       
                <p>
                  <label for="nombre" class="colocar_nombre">Nombre
                    <span class="obligatorio">*</span>
                  </label>
                  <br/>
                  <b>Folio: ${codigo}</b>
                  <br/>
                  <b>${ this.nombre }</b>
                </p>

                <p>
                  <label for="nombre" class="colocar_nombre">Recomendado por:</label>
                  <br/>
                  <b>${ this.matricula } ${ this.nombre_alumno }</b>
                </p>
              </form>
            </div>  
          </div>
        `);
        ventana.document.write('</body></html>');
        ventana.document.close();
        ventana.focus();
        ventana.print();
        ventana.close();
        return true;
      }

    }
  }
</script>

<style>

</style>
