<template>
  <v-container fluid class="pa-0">
    <Welcome/>    
  </v-container>
</template>
<script>

    import Welcome        from '@/components/Welcome'

  export default {
    name: 'HelloWorld',

    components:{
      Welcome
    },

    data: () => ({

    }),
  }
</script>
