<template>
  <div>
    <v-btn
      v-for="(item, i) in items.slice(0, large ? items.length : 3)"
      :key="i"
      fab
      class="ma-2"
      color="secondary"
      :small="!large"
      :href="item.path"
      target="_blank"
    >
      <v-icon
        dark
        v-text="item.icon"
      />
    </v-btn>
  </div>
</template>

<script>
  export default {
    props: {
      large: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      // items: [
      //   {
      //     name: 'Instagram',
      //     icon: 'mdi-instagram',
      //     path: 'https://www.instagram.com/inbimx/'
      //   },
      //   {
      //     name: 'Facebook',
      //     icon: 'mdi-facebook',
      //     path: 'https://www.facebook.com/INBImx/'
      //   },
      //   {
      //     name: 'Web',
      //     icon: 'mdi-web',
      //     path: 'https://www.inbi.mx/'
      //   },
      // ],
      items: [
        {
          name: 'Instagram',
          icon: 'mdi-instagram',
          path: 'https://www.instagram.com/fastenglishschool/?hl=es-la'
        },
        {
          name: 'Facebook',
          icon: 'mdi-facebook',
          path: 'https://www.facebook.com/fastenglishmty/'
        },
        {
          name: 'Web',
          icon: 'mdi-web',
          path: 'https://fastenglish.com.mx/'
        },
      ],
    }),
  }
</script>
